body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(#333, #161515);
    color: #d4cbd4;
}

header {
    background: url('src/stone.jpg');
    background-position: center;
    background-size: cover;
}

header .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 20px;
    backdrop-filter: brightness(20%);
}

header img {
    height: 100px;
}

.pageTitle {
    font-size: 1.2rem;
}

.cards_section {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.card{
    flex: 1;
    position: relative;
    transition: 0.4s;
    height: 800px;
    display: flex;
    flex-direction: column ;
    img {
        position: absolute;
        width: 50px;
        height: auto;
        width: 100% ;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }
    .moreInfo{
        opacity: 0;
        transition: 0.4s;
        flex: 1;
        background: linear-gradient(to bottom, rgba(22, 21, 21,0.5),rgba(22, 21, 21,1));
        padding: 20px;
    }
}
.card:hover{
    flex: 2;
    .moreInfo{
        opacity: 1;
    }
}
.cardTitle{
    width: 100%;
    text-align: center;
    background: #333;
    padding: 10px 0;
    h2{
        margin:0;
    }
}